.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



main{
  flex-grow: inherit;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em 1em;
  grid-auto-flow: row dense;
  grid-template-areas:
      "Sidebar Reviews Rating Analysis"
      "Sidebar Visitors Visitors Visitors"
      "Sidebar Visitors Visitors Visitors";
      margin: 1em;

}

.Reviews { 
  grid-area: Reviews; 
  align-items: left;
  background-color: black;


}

.Rating { 
  grid-area: Rating;
  align-items: left;
  background-color: black;

 }

.Analysis { 
  grid-area: Analysis; 
  align-items: left;
  background-color: black;


}

.Visitors { 
  grid-area: Visitors;
  align-items: left;
  background-color: black;

 }

 .Sidebar{
   grid-area: Sidebar;
   padding-left: 2em;
   padding-top: 6em;
   background-color: black;

 }



 *{
  color: white;

 }









 